// Specific CSS for your home-page
body {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('http://s1.picswalls.com/wallpapers/2014/07/24/cocktail-high-definition-wallpaper_112543438_80.jpg');
}

h2 {
  color: #333333;
  text-shadow: 1px 1px #E3E3E3
}
